#------------------------------------------------------------------------------
# BUILT-IN DIRECTORIES
#------------------------------------------------------------------------------

elpa/
transient/

#------------------------------------------------------------------------------
# STATS FILES
#------------------------------------------------------------------------------

*.dat

#------------------------------------------------------------------------------
# UTILITY FILES
#------------------------------------------------------------------------------

*.orig
*~
.*
\#*#

#------------------------------------------------------------------------------
# EXCEPTIONS
#------------------------------------------------------------------------------

!.gitattributes
!.gitconfig
!.gitignore
!.gitmodules

